<h2> Signup </h2>
<%= render "layouts/signup", :user => @user %>

<h2> Current Users: </h2>
<% @users.each do |user|  %>
  <p><%= link_to user.username, user %>
  <small>Signed up <%= time_ago_in_words(user.created_at)%> ago</small></p>
<%  end %>
